body{
    font-family:Arial;
}
.container,
.input-container{
    display:grid;
    grid-template-columns:200px 150px 100px;
    column-gap:10px;
    row-gap:10px;
    align-items:center;
}
.input-container{
    margin-bottom:10px;
    align-items:stretch;
}
.input,
.date-input{
    padding:6px;
    font-size:14px;
}
.add-button{
    background-color:green;
    color:white;
    border:none;
    font-size:14px;
    cursor:pointer;
}
.delete-button{
    background-color:darkred;
    color:white;
    border:none;
    padding:8px;
    font-size:14px;
    cursor:pointer;
}